<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/">
          <span class="align-middle">VW_Flash</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Logging
					</li>

					<li class="sidebar-item" id="logger/startstop">
						<a class="sidebar-link" href="/logger/startstop">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Start/Stop Logger</span>
            </a>
					</li>

					<li class="sidebar-item" id="logger/configuration">
						<a class="sidebar-link" href="/logger/configuration">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Configuration</span>
            </a>
					</li>
					<li class="sidebar-item" id="logger/filemanager">
						<a class="sidebar-link" href="/logger/filemanager">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Download Logs</span>
            </a>
					</li>



				</ul>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Flashing
					</li>

					<li class="sidebar-item" id="flasher/filemanager">
						<a class="sidebar-link" href="/flasher/filemanager">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Manage bin files</span>
            </a>
					</li>
					<li class="sidebar-item" id="flasher/flashCal">
						<a class="sidebar-link" href="/flasher/flashCal">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Flash Calibration Block</span>
            </a>
					</li>

					<li class="sidebar-item" id="flasher/flashASW">
						<a class="sidebar-link" href="/flasher/flashASW">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Flash Application Blocks</span>
            </a>
					</li>


				</ul>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						System
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/system">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Shutdown</span>
            </a>
					</li>
				</ul>



</nav>


