<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
.box {
   border-radius: 4px;
   padding-bottom: 100%;
}

.col-6 {
    margin-top: 10px !important;
}
.bg-secondary{
   margin: 10px !important;
   padding: 10px !important;
</style>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

 <button type="button" onclick="closeStream()" >Pause</button> 

 <button type="button" onclick="openStream()" >Resume</button> 


            <a class="navbar-brand" href="#">
                pyLog UI
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="http://www.sciax2.it/forum/utenti/-kik_226760/" target="_blank">Return back</a></li>-->
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Settings
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">SETTINGS</li>
                            <li class=""><a href="#">Link</a></li>
                            <li class=""><a href="#">Other Link</a></li>
                            <li class=""><a href="#">Other Link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container-fluid">
  <div class="row" id="parameterContainer">
  </div>
            </div> 
        </div>
    </div>
            </div>
        </div>
</body>
</html>
<script>
var divProgressBarContainer = document.getElementById('parameterContainer');
        var source = new EventSource("/stream");
        var updateDisplay = true;

	function closeStream() {
		updateDisplay = false;
	}

	function openStream() {
		updateDisplay = true;
	}

        source.onmessage = function (event) {
	    if(updateDisplay){
            divProgressBarContainer.innerHTML = "";
            const data = JSON.parse(event.data);
            Object.keys(data).forEach(function (param) {
                createNewProgressBar(param, data[param]);
            });
	    }

        }

  function createNewProgressBar(barId, values) {
    // Create a new progress bar and container
    var tileDiv = document.createElement("div"),
	parameterDiv = document.createElement("div"),
        title = document.createElement("h6"),
        valDisplay = document.createElement("h1");

    // Create a container and progress bar to add to the page
    title.innerText = barId;
    valDisplay.innerText = values['value'] + "\n" + values['raw'];
    tileDiv.setAttribute("class", "col-6 col-md-6 col-lg-2");
    parameterDiv.setAttribute("class", "bg-secondary text-white");
    
    // Append all new elements to the page
    divProgressBarContainer.appendChild(tileDiv)
    tileDiv.appendChild(parameterDiv);
    parameterDiv.appendChild(title);
    parameterDiv.appendChild(valDisplay);
    
    return(parameterDiv);
  }
</script>
