SUBSYSTEM=="block", ATTRS{idVendor}=="0e39", ATTRS{idProduct}=="f100", ACTION=="add", RUN+="cd /home/pi/SimosHighSpeedLogger/logs && /usr/bin/python3 /home/pi/SimosHighSpeedLogger/pyLog.py --headless"
